@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover-menu: #1a969c;
    --cor-hover-botao: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    transition: color 0.3s ease;
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover-menu);
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 10%;
    gap: 36px;
}

.apresentacao-section {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.apresentacao-section h1 {
    font-size: 34px;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao-section p {
    font-size: 22px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.links-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.links-redes__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.links-redes a {
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-family: var(--fonte-secundaria); 
    font-weight: 600;
    font-size: 22px;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    padding: 20px 0;
    text-align: center;
    transition: background-color ease 0.3s;
}

.links-redes a:hover {
    background-color: var(--cor-hover-botao);
}

footer {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}